#chat p {
	margin-bottom:0px;
	line-height:22px;
}

.chatName {
	font-weight:bold;
}

#chat p:not(.chatName) {
	margin-left:20px;
}

.footer div .form-group {
	margin-top: 20px;
}


/*overflow: scroll;*/
#chat {
	height: 120px;
	overflow-y: scroll;
}

.footerCollapsed {
  /* CSS for the collapsed footer! Yay!*/
  height: 80px;
}


.bodyCollapsed {
  /* CSS for the collapsed footer! Yay!*/
  margin-bottom: 60px; /* Margin bottom by footer height */
}