body {
	
   -webkit-transition: margin-bottom .2s;  Safari 
    transition: margin-bottom .2s;
    
}*/
.footer {
	position: fixed;
}

.footer2 {
	height:120px;
	bottom:80px;
   -webkit-transition: height .1s; /* Safari */
   transition: height .1s;
}

#chat p {
	margin-bottom:0px;
	line-height:22px;
}

.chatName {
	font-weight:bold;
}

.progress {
	margin-top:5px;
	
}

.progress-bar {
	height:31px;
}

.btn-sm {
	margin:5px;
}

#chat p:not(.chatName) {
	margin-left:20px;
}

.footer div .form-group {
	margin-top: 20px;
}

#images {
	margin-top:20px;
}

.card {
	padding: 5px;
}

.card-header {
	border-bottom-width: 0px !important;
}

/*overflow: scroll;*/
#chat {
	overflow-y: scroll;
	height: 120px;
}

.footerCollapsed {
  /* CSS for the collapsed footer! Yay!*/
  height: 0px;
}


/*.bodyCollapsed {
  /* CSS for the collapsed footer! Yay!*/
/*}*/